
.edit-page__container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: start;
    align-items: flex-start;
}

.container {
    margin: 0 auto;
    max-width: 1060px;
}

.pane {
    background-color: hsla(0,0%,100%,.95);
    position: relative;
    width: 100%;
}

.pane--inline {
    display: inline-block;
    vertical-align: top;
}

.edit-page__nav {
    display: none;
    width: 330px;
    margin-right: 20px;
}

@media screen and (min-width: 1024px) {
    .edit-page__nav {
        display: inline-block;
    }
}

@media screen and (min-width: 1024px) {
    .edit-page__content {
        width: 674px;
        -ms-flex-positive: 2;
        flex-grow: 2;
    }
}


.artwork__container {
    padding: 30px 0;
}

#upload .side-navigation .side-navigation__top-level {
    font-weight: 700;
    font-size: 16px;
    color: black;
}

#upload .side-navigation .side-navigation__active {
    font-weight: 700;
    color: #2f8cba;
}

#upload .side-navigation a {
    transition: color .3s ease-out;
    display: block;
    color: #000;
}

#upload a, #upload a:visited {
    text-decoration: none;
}


#upload .side-navigation > * {
    padding: 15px;
    border-bottom: 1px solid #efefef;
}

#upload .side-navigation .button {
    display: block;
    width: 100%;
    margin: 0;
}

.app .button {
    display: inline-block;
    border: 0;
    padding: 10px 40px;
    font-weight: 700;
    font-size: 14px;
    outline: none;
    cursor: pointer;
    transition: background-color .1s ease-in-out;
    background-color: #efefef;
    color: #333;
}

.app .button--blue {
    color: #fff;
    background-color: #2f8cba;
}

@media screen and (min-width: 600px) {
    .pane--centered {
        text-align: center;
    }
}

.pane {
    background-color: hsla(0,0%,100%,.95);
    position: relative;
}

.edit-page .pane__content__block {
    padding: 30px;
    border-bottom: 1px solid #ececec;
}

.sold-status-input {
    text-align: center;
}

@media screen and (min-width: 600px) {
    .sold-status-input .sold-status-input__option {
        margin-right: 50px;
    }
}

.sold-status-input .sold-status-input__option {
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
}

.sold-status-input .path, .sold-status-input .sold-status-input__option__name {
    transition: all .15s cubic-bezier(.455,.03,.515,.955);
}

.sold-status-input .sold-status-input__option__name {
    margin-top: 25px;
    font-weight: 700;
    font-size: 16px;
}

.sold-status-input .sold-status-input__option__svg > * {
    height: 70px;
    width: 70px;
}

.sold-status-input .sold-status-input__option--selected {
    color: #2f8cba;
}

    .sold-status-input .sold-status-input__option--selected .path {
        fill: #2f8cba;
    }

@media screen and (min-width: 600px) {
    .form-group--block .input-container {
        width: 450px;
        margin: 20px auto;
    }
}


.dimensions-input .input-container {
    width: 110px;
    margin-right: 30px;
}

.form-group--inline-block > * {
    display: inline-block;
}

.form-group input, .form-group textarea {
    transition: border-color .5s cubic-bezier(.455,.03,.515,.955),background-color .5s cubic-bezier(.455,.03,.515,.955);
    padding: 10px;
    border: 1px solid transparent;
    outline: none;
    font-size: 16px;
    text-shadow: 0 1px 1px #fff;
    background-color: #efefef;
    color: #333;
}

@media screen and (min-width: 600px) {
    .title-input__title-wrapper {
        width: 460px;
    }
}

.title-input__title-wrapper {
    margin: 0 auto;
    position: relative;
    transition: all .5s cubic-bezier(.455,.03,.515,.955);
}

.shipping__artwork-weight .shipping__artwork-weight__weight {
    width: 170px;
}


.shipping__artwork-weight > * {
    display: inline-block;
    margin-right: 20px;
    vertical-align: middle;
}

.mobile-status-bar {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: #fff;
    box-shadow: 0 -1px 10px rgba(0,0,0,.1);
    z-index: 110;
    transition: opacity .3s cubic-bezier(.455,.03,.515,.955);
}


.mobile-status-bar__nav {
    height: 100%;
    width: 50%;
    background-color: #fff !important;
    display: block;
    font-weight: 700;
    text-align: center;
    z-index: 111;
    font-size: 16px;
}

.mobile-status-bar__nav--left {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
}

.mobile-status-bar__nav--right {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
}

.mobile-status-bar__inner {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    transition: transform .3s cubic-bezier(.86,0,.07,1);
    width: 50%;
    min-width: 175px;
    max-width: 450px;
    background-color: #fff;
    transform: translateX(-105%);
    will-change: transform;
    z-index: 111;
    padding-bottom: 60px;
    overflow: scroll;
    box-shadow: 2px -1px 10px rgba(0,0,0,.1);
}

.mobile-status-bar__inner--expanded {
    transform: translateX(0);
}

.mobile-status-bar__menu {
    z-index: 110;
}

#upload .side-navigation__hero {
    display: none;
    position: relative;
    border-bottom: 0;
}

#upload .side-navigation > * {
    padding: 15px;
    border-bottom: 1px solid #efefef;
}

.mobile-status-bar__menu-toggle > * {
    transition: transform .3s cubic-bezier(.86,0,.07,1);
    transform-origin: 0 top;
    will-change: transform;
    width: 22px;
}

.mobile-status-bar__nav > * {
    position: absolute;
    top: 54%;
    left: 50%;
    display: block;
    transform: translate(-50%,-50%);
    width: 15px;
}

.mobile-status-bar__nav svg {
    width: 100%;
}

@media screen and (min-width: 768px) {
    #upload .side-navigation__hero {
        display: block;
    }
}

.mobile-status-bar__inner--expanded {
    transform: translateX(0);
}

@media screen and (min-width: 768px) {
    #upload .side-navigation > * {
        padding: 15px 25px;
    }
}

@media screen and (min-width: 1024px) {
    .mobile-status-bar {
        display: none;
    }
}

.mobile-status-bar__inner--expanded {
    transform: translateX(0);
}

#upload .side-navigation .side-navigation__sub-level {
    padding: 15px 45px;
}

.app .button--active, .app .button:active {
    color: #fff;
    background-color: #2f8cba !important;
}

.image-radio__item {
    cursor: pointer;
    display: inline-block;
    margin-right: 2%;
    outline: 3px solid #f9f9f9;
    position: relative;
    transition: outline .15s cubic-bezier(.455,.03,.515,.955);
    vertical-align: middle;
    width: 100%;
    margin-bottom: 20px;
}

@media screen and (min-width:600px) {
    .image-radio__item {
        width: 32%;
        margin-bottom: 0;
        outline: 3px solid transparent;
    }
}

.image-radio__item:last-child {
    margin-right: 0;
    margin-bottom: 0;
}

.image-radio__item .st0 {
    transition: fill .15s cubic-bezier(.455,.03,.515,.955);
}

.image-radio__item:hover:not(.image-radio__item--disabled) .st0 {
    fill: #3297ca;
}

.image-radio__item--active {
    outline: 3px solid #2f8cba;
}

    .image-radio__item--active .st0 {
        fill: #2f8cba;
    }

    .image-radio__item--active .image-radio__item__name {
        background-color: #2f8cba;
        color: #fff;
    }

.image-radio__item__image {
    padding: 15px 0;
    position: relative;
}

    .image-radio__item__image img {
        width: 100%;
    }

.image-radio__item__image__elem {
    width: 100%;
    height: 100px;
    text-align: center;
}

@media screen and (min-width:600px) {
    .image-radio__item__image__elem {
        height: 160px;
    }
}

.image-radio__item__image__elem svg {
    height: 100%;
    max-width: 100%;
    max-height: 100px;
}

@media screen and (min-width:600px) {
    .image-radio__item__image__elem svg {
        max-height: 160px;
    }
}

.image-radio__item__disabled-message {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,.75);
    color: #fff;
}

.image-radio__item__disabled-message__inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 80%;
    line-height: 1.4;
}

.image-radio__item__name {
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    padding: 20px 0;
    transition: background-color .15s cubic-bezier(.455,.03,.515,.955),color .15s cubic-bezier(.455,.03,.515,.955);
}

.image-radio__item--disabled .image-radio__item__name {
    color: #999;
}

@media screen and (min-width:600px) {
    .image-radio__item--disabled .image-radio__item__name {
        color: #333;
    }
}

@media screen and (min-width: 600px) {
    .packaging__shipping-type .image-radio__item {
        width: 30%;
        margin-bottom: 0;
    }
}

