<style>
    #ui-accordion-so-accordion-panel-1 {
        height: 265px !important;
    }

    #ui-accordion-so-accordion-panel-2 {
        height: 265px !important;
    }
</style>

<div class="row-layout content">

    <div class="sa-hero upload-banner" style="background-image:url(//cuber.dev/Content/Images/upload-hero1.jpg);top:-20px !important">
        <ul class="orbit-ul">
            <li class="orbit-item orbit-item-1">
                <div class="cover flexcontainer">
                    <h1 class="sa-hero-title">هنر خود را به اشتراک بگذارید</h1>
                    <h2 class="sa-hero-subtitle" style="font-size: 1.8rem;">با بارگذاری اثر خود، به راحتی در یک بازار امن بین المللی آن را نمایش دهید و به فروش برسانید.</h2>
                    <div class="sa-hero-subtitle-2"></div>
                    <div id="so-upload-fetching-form" class="upload-fetching-form">
                        <a href="/@CultureHelper.GetCurrentCulture()/upload/start" class="button fileinput-button">
                            <span>بارگذاری</span>
                            <input id="fileupload" type="button">
                        </a>
                    </div>
                    <script>
                        $('.orbit-item').click(function () {
                            window.location = $(this).find('a').attr('href');
                            return false;
                        });
                    </script>
                </div>
            </li>
        </ul>
    </div>

    <div id="landing">
        <div id="so-cols" class="col">

            <div id="so-col-main">
                <div class="so-col">
                    <div class="hd">

                    </div>
                    <div class="bd">

                        <div id="so-upload-description">
                            <script>
                                $(function () {
                                    $("#so-accordion").accordion({
                                        active: false,
                                        collapsible: true,
                                        fillsSpace: true,
                                        animated: 'easeslide'
                                    });
                                });
                            </script>
                            <div id="so-share-art" style="float:left !important;padding-left:25px !important;margin-right:auto;padding-right:unset;direction:rtl">

                                @*<div class="video-container">
                                        <h1>Photographing Your Artwork</h1>
                                        <iframe title="Photographing Your Artwork" src="https://www.youtube.com/embed/SrsKycVp-bA?rel=0&amp;enablejsapi=1" frameborder="0" allowfullscreen=""></iframe>
                                    </div>*@
                                <div class="small-12 columns multiple-images-container">
                                    <div class="small-12 medium-12 columns">
                                        <h1>چگونه از اثر خود یک عکس خوب بگیرم</h1>

                                        <p style="text-align:justify !important">
                                            تصویر آپلود شده شما باید بتواند کارتان را به خوبی معرفی کند و به نمایش بگذارد، عکاسی اشتباه می تواند حتی شانس فروش اثر با ارزش و خوب شما را کاهش دهد. اما برای عکاسی موفق اثر، آرتیسکاوری راهنمایی برای کمک به شما آماده کرده است.
                                        </p>
                                        <div class="clearfix"></div>
                                        <h1>کادر بندی و ترکیب بندی تصویر:</h1>
                                        <p style="text-align:justify !important">
                                            سعی کنید کادر شما تماماً با اثرتان پر شود و فضای خالی وجود نداشته باشد و تصویر شما وسط نمایشگر دوربین قرار بگیرد. دوربین دی اس ال آر DSLR (فول فریم) می‌تواند به شما در عکاسی راحت‌تر کمک کند حتی اگر حرفه ای نباشید چون سنسورهای بزرگ تری در مقایسه با دوربین های دیجیتال کامپکت دارد. معمولاً سنسور بزرگتر نویز کمتر، حساسیت بالا و در نهایت تصویر با کیفیت‌تری می دهد. این سنسور‌ها اندازه تصویری می‌دهد که به فیلم‌های ۳۵ میلیمتری دوربین عکاسی آنالوگ شبیه تر است.
                                        </p>
                                        <div class="clearfix"></div>
                                        <h1>زوایه دوربین :</h1>
                                        <p style="text-align:justify !important">زوایه و ارتفاع دوربین نسبت به سوژه، تاثیر زیادی بر تصویر بدست آمده دارد. بهتر است لنز موازی با سوژه باشد، یعنی در یک ارتفاع و با یک زاویه باشند، به طور مثال اگر بوم یا قاب شما شیب دارد، دوربین را نیز با آن زاویه تنظیم کنید.</p>
                                        <div class="clearfix"></div>
                                        <h1>پشت زمینه :</h1>
                                        <p style="text-align:justify !important">زمینه عکس شما بهتر است صاف و یکدست باشد که کار شما در زمینه بهتر بدرخشد و جلوه کند. باید پشت زمینه ساده انتخاب نماییم تا تمرکز بیننده را مخدوش نکند. و البته توصیه می کنیم پس از عکس برداری حتما تصویر نهایی را کراپ شده تحویل دهید، و هیچ فضای اضافی در عکس اصلی وجود نداشته باشد و تنها اثر هنری شما باشد.</p>
                                        <br />
                                        <h1>شرایط نور:</h1>
                                        <p style="text-align:justify !important">
                                            زاویه تابش نور، در شکل سایه هایی که در تصویر ایجاد می کند و در نتیجه زیبایی و جلوه عکس بسیار موثر است به عبارتی نور مناسب می تواند به عکس ما جان ببخشد.
                                            توصیه می کنیم از نور فلش استفاده نکنید و نور طبیعی گزینه ی بهتری است تا تصویر زیباتری خلق شود. میتوانید در نور روز، پرده ها را کناز بزنید تا نور محیط حداکثر شود  و یا حتی محیط را نورپردازی کنید.
                                            هنگامی که نور از کنار به سوژه می تابد، با سایه هایی که ایجاد می کند، عمق و بعد تصویر را افزایش داده و جزئیات را نمایان تر میکند.
                                        </p>
                                        <div class="clearfix"></div>
                                        <img style="width:300px;height:180px;display:block;margin:auto;padding-bottom:15px;padding-top:15px" src="~/Content/Images/artwork_lighting_diagram.jpg" />
                                        <div class="clearfix"></div>
                                        <p style="text-align:justify !important">چنان چه نور در صحنه کم باشد لازم است حساسیت ISO را افزایش دهید که البته این روش را توصیه نمی کنیم.</p>
                                        <div class="clearfix"></div>
                                        <br />
                                        <br />
                                        <i>   الیوت ارویت: " حسن عکس گرفتن این است که شما دیگر نیازی به توضیح دادن چیزها با کلمات ندارید."</i>
                                        <br />
                                        <br />
                                        <div class="clearfix"></div>
                                    </div>
                                    @*<div class="small-12 medium-5 columns" style="
                                             height 330px;
                                             width 300px;
                                             background-repeat no-repeat;
                                             background-image url('//d3t95n9c6zzriw.cloudfront.net/upload-homepage/upload-diptych.jpg');">
                                        </div>*@
                                </div>
                            </div>
                            <div id="so-quick-guides" style="float:right;text-align:right;direction:rtl">
                                <h2>استاندارد های بارگذاری اثر</h2>

                                <p>ویژگی های کلی:</p>
                                <ul style="padding:inherit">
                                    <li>تصویر شما باید حتما با فرمت JPEG باشد زیرا ایده آل ترین فرمت نمایش دیجیتالی تصاویر رنگی است و می تواند 16 میلیون رنگ مختلف را نمایش دهد و اطلاعات رنگی اثر شما را حفظ کند.</li>
                                    <li> عکس حداقل 1200X1500 پیکسل باشد</li>
                                    <li>کمتر از 50 مگابایت باشد</li>
                                </ul>

                                <div id="so-accordion" class="ui-accordion ui-widget ui-helper-reset" role="tablist" style="float:right;text-align:right;direction:rtl">
                                    <h3 class="ui-accordion-header ui-helper-reset ui-state-default ui-accordion-icons ui-corner-all" role="tab" id="ui-accordion-so-accordion-header-0" aria-controls="ui-accordion-so-accordion-panel-0" aria-selected="false" tabindex="0">
                                        <span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-e">
                                        </span><a href="#">شرایط نور <i class="fa lighting fa-angle-left" style="margin-right:175px;margin-left:0px !important"></i></a>
                                    </h3>

                                    <div class="standards ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom" id="ui-accordion-so-accordion-panel-0" aria-labelledby="ui-accordion-so-accordion-header-0" role="tabpanel" aria-expanded="false" aria-hidden="true" style="height: 665px; display: none;">
                                        <div class="info" style="float:right;text-align:right;direction:rtl">
                                            @* <h4>Color Balance and Exposure</h4>*@

                                            <p>
                                                زاویه تابش نور، در شکل سایه هایی که در تصویر ایجاد می کند و در نتیجه زیبایی و جلوه عکس بسیار موثر است به عبارتی نور مناسب می تواند به عکس ما جان ببخشد.
                                                توصیه می کنیم از نور فلش استفاده نکنید و نور طبیعی گزینه ی بهتری است تا تصویر زیباتری خلق شود. میتوانید در نور روز، پرده ها را کناز بزنید تا نور محیط حداکثر شود  و یا حتی محیط را نورپردازی کنید.
                                            </p>

                                        </div>
                                        @*  <div class="clearfix"></div>*@
                                        @*<div class="info">
                                                <h4>Harsh Shadows and Reflections</h4>

                                                <p>
                                                    Ensure your light-source provides even color and no directional shadows or reflections, which can
                                                    distract from your artwork.
                                                </p>
                                            </div>*@
                                        @*<div class="clearfix"></div>*@
                                    </div>

                                    <h3 class="ui-accordion-header ui-helper-reset ui-state-default ui-accordion-icons ui-corner-all" role="tab" id="ui-accordion-so-accordion-header-1" aria-controls="ui-accordion-so-accordion-panel-1" aria-selected="false" tabindex="1">
                                        <span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-e" style="float:right;text-align:right;direction:rtl">
                                        </span><a href="#">کیفیت <i class="fa lighting fa-angle-left" style="margin-right:196px;margin-left:0px !important"></i> </a>
                                    </h3>

                                    <div class="standards ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom" style="overflow: auto; height: 365px !important; display: none;" id="ui-accordion-so-accordion-panel-1" aria-labelledby="ui-accordion-so-accordion-header-1" role="tabpanel" aria-expanded="false" aria-hidden="true">
                                        <div class="info" style="float:right;text-align:right;direction:rtl">
                                            <p style="width:240px !important">
                                                چنان چه نور در صحنه کم باشد، لازم است از سه پایه استفاده نموده و در صورت لزوم حساسیت ISO را افزایش دهید. مقدار 100 برای ISO یک حساسیت پایین است، در حالی‌که 6400 یک حساسیت بالاست. اگر حساسیت را افزایش دهیم، می‌توانیم از سرعت‌های بیشتر شاتر و دیافراگم‌های کوچک‌تر استفاده کنیم اما تصاویر، نویز بیشتری خواهند داشت. استفاده از یک ISO کم در حالت ایده آل بین 100-200 در نور روز را پیشنهاد می کنیم.
                                                حتماً اطمینان حاصل کنید که دوربین خود را با بالاترین کیفیت تنظیم کرده اید تا فایل با حداکثر کیفیت ذخیره میشود.

                                            </p>
                                        </div>

                                    </div>

                                    <h3 class="ui-accordion-header ui-helper-reset ui-state-default ui-accordion-icons ui-corner-all" role="tab" id="ui-accordion-so-accordion-header-2" aria-controls="ui-accordion-so-accordion-panel-2" aria-selected="false" tabindex="2">
                                        <span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-e">
                                        </span><a href="#">استفاده از افکت ها <i class="fa lighting fa-angle-left" style="margin-right:110px;margin-left:0px !important"></i></i></a>
                                    </h3>

                                    <div class="standards ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom" id="ui-accordion-so-accordion-panel-2" aria-labelledby="ui-accordion-so-accordion-header-2" role="tabpanel" aria-expanded="false" aria-hidden="true" style="height: 665px; display: none;">
                                        <div class="info" style="float:right;text-align:right;direction:rtl">
                                            @*<h4>Parallel Angles/Rotation</h4>*@
                                            <p>
                                                پیشنهاد می کنم از افکت های زیادی برای عکاسی از اثر خود استفاده نکنید چرا که علاوه بر اینکه حجم عکس را افزایش می دهد، از جلوه واقعی کار شما کم میکند.
                                                نکته: برای جلوگیری از تاثیر لرزش دست پیشنهاد می کنیم حتما دوربین را روی سه پایه و یا یک سطح صاف قرار دهید و از self-timer  استفاده کنید.
                                                نکته: از آنجایی که اثر هنری شما حتما امضا دارد، هرگونه امضا ی دیجیتال و یا تاریخ مندرج بر روی عکس را حذف کنید.

                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <script>
                                // controls the angle bracket direction for accordion
                                $(function () {
                                    $('.ui-corner-all').on('click', function () {
                                        var icon = $(this).find('i');

                                        if (icon.hasClass('fa-angle-down')) {
                                            $(icon).removeClass('fa-angle-down').addClass('fa-angle-right');
                                        } else {
                                            $(icon).removeClass('fa-angle-right').addClass('fa-angle-down');
                                        }
                                    });

                                });
                            </script>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <!-- The global progress bar -->
    <div id="progress" class="progress progress-animated hidden">
        <div class="progress-bar progress-bar-success"></div>
    </div>

    <div class="clearfix"></div>
</div>
