
@{
    ViewBag.Title = "Index";
}

@model List<ProductFrameType>


@{
    ViewBag.Title = "ProductFrames";

    var c_cntroller = "ProductFrames";
    var c_add = "addtype";
    var c_edit = "edittype";
    var c_delet = "Deletetype";
    var noentity = "هیچ نوعی ثبت نشده";
    var addbtn = "نوع";
}

<div class="page-title">
    <div class="title"> زبان و کشور ها</div>
    <ol class="breadcrumb no-bg pl0">
        <li>
            <a href="javascript:;">پنل سازمان</a>
        </li>
        <li>
            <a href="javascript:;">فریم ها </a>
        </li>
    </ol>
</div>

<ul class="nav nav-tabs">
    <li>
        <a href="/languages">زبان ها</a>
    </li>
    <li>
        <a href="/Countries/Index">کشور ها</a>
    </li>
    <li>
        <a href="/PriceList/Index">محدوده قیمت</a>
    </li>
    <li>
        <a href="/PrintOptions/Index">پرینت</a>
    </li>
    <li class="active">
        <a href="/ProductFrames/Indexcolor"> فریم</a>
    </li>
    <li>
        <a href="/Setting/Index"> پارامتر ها</a>
    </li>
</ul>
<ul class="nav nav-tabs">
    <li style="float:right">
        <a href="/ProductFrames/Indexcolor"> رنگ</a>
    </li>
    <li style="float:right" class="active">
        <a href="/ProductFrames/Indextype"> نوع</a>
    </li>
    <li style="float:right">
        <a href="/ProductFrames/Indexmaterial"> جنس</a>
    </li>
</ul>


<div class="clearfix"></div>

<div class="card bg-white m-b">
    <div class="card-header">
        <button onclick="showAdd()" class="pull-left btn btn-default">ثبت @addbtn جدید</button>
    </div>
    <div class="card-block p-a-0">
        <div class="table-responsive">
            @if (Model.Count() != 0)
            {
                <table class="table m-b-0">
                    <tr>
                        <th></th>
                        <th>
                            Name
                        </th>
                        <th></th>
                    </tr>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <th><i class="fa fa-eye"></i></th>
                            <th>
                                @item.Name
                            </th>
                            <td>
                                <button class="btn btn-primary btn-sm" onclick="showEdit(@item.Id)">ویرایش</button>
                                <button class="btn btn-danger btn-sm" onclick="$('#c_@item.Id').show('fast');$(this).hide('fast');">حذف</button>
                                <a id="c_@item.Id" class="btn btn-danger btn-sm" style="display:none" href="/@c_cntroller/@c_delet/@item.Id">آیا مطمئن هستید؟</a>
                            </td>
                        </tr>
                    }
                </table>
            }
            else
            {
                <div class="alert alert-warning ">
                    @noentity
                </div>
            }
        </div>
    </div>
</div>


<div class="modal fade" id="modal-basic" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" id="dform">

        </div>
    </div>
</div>



@section scripts{
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")
    @Scripts.Render("~/Content/Admin/vendor/jquery-labelauty/source/jquery-labelauty.js")

    <script>
        var loading =
            '<div class="modal-header bg-primary">' +
            '   <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icons-office-52"></i></button>' +
            '   <h4 class="modal-title">...</h4>' +
            '</div>' +
            '<div class="modal-body" style="padding:20px;text-align:center">' +
            '   <p style="text-align:center">در حال بارگذاری</p>' +
            '   <p style="text-align:center"><i class="fa fa-spinner fa-spin"></i></p>' +
            '</div>';

        function showAdd() {
            $('#modal-basic').modal('show');
            $("#dform").html(loading);
            $("#dform").load("/@c_cntroller/@c_add");
        }
        function showEdit(id) {
            $('#modal-basic').modal('show');
            $("#dform").html(loading);
            $("#dform").load("/@c_cntroller/@c_edit/" + id);
        }
    </script>
}
