@model NavigationCategory


<div class="modal-header bg-primary">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icons-office-52"></i></button>
    <h4 class="modal-title">دسته جدید</h4>
</div>
@using (Ajax.BeginForm("EditCatHeader", "FirstPageSettings", null, new AjaxOptions()
{
    HttpMethod = "POST",
    UpdateTargetId = "dform",
    LoadingElementId = "submit_spin",
    OnBegin = "$('#submit_btn').attr('disabled', 'disabled');",
    OnComplete = " $('#submit_btn').removeAttr('disabled', 'disabled');"
}, new { enctype = "multipart/form-data" }))
{
    <div class="modal-body" style="padding:20px;">

        @if (!ViewData.ModelState.IsValid)
        {
            @Html.ValidationSummary("", new { @class = "text-danger alert alert-danger" })
        }

        @Html.HiddenFor(x => x.Id)

        @Model.category.ToString()

        @if (!string.IsNullOrEmpty(ViewBag.alert))
        {
            <div class="alert alert-info">
                @ViewBag.alert
            </div>
        }
        <hr />
        <div class="row">

            <div class="col-md-12">
                <div class="form-group">
                    <label class="col-sm-12 control-label">  Styles </label>
                    <div class="col-sm-12">
                        <select name="FavStyles"
                                data-placeholder="Styles"
                                multiple
                                id="styleselect"
                                class="form-control chosen"
                                style="width:100%"></select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-12 control-label">  Medums </label>
                    <div class="col-sm-12">
                        <select name="FavMediums"
                                data-placeholder="Medums"
                                multiple
                                id="medumsselect"
                                class="form-control chosen"
                                style="width:100%"></select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-12 control-label">  Subjects </label>
                    <div class="col-sm-12">
                        <select name="FavSubjects"
                                data-placeholder="Subjects"
                                multiple
                                id="subjectsselect"
                                class="form-control chosen"
                                style="width:100%"></select>
                    </div>
                </div>

            </div>

        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default btn-embossed" data-dismiss="modal">بستن</button>
        <button type="submit" class="btn btn-primary ladda-button" data-style="zoom-in" id="submit_btn">
            <span class="spinner" hidden id="submit_spin" style="padding:5px">
                <i class="fa fa-spinner fa-spin"></i>
            </span>&nbsp;  ثبت  &nbsp;
        </button>
    </div>
}

@{
    string FavStyles = (string.Format("{0}", String.Join(",", Model.FavStyles.Select(x => x.styleId))));
    string FavMediums = (string.Format("{0}", String.Join(",", Model.FavMediums.Select(x => x.mediumId))));
    string FavSubjects = (string.Format("{0}", String.Join(",", Model.FavSubjects.Select(x => x.subjectId))));
}
<script>
    var FavStyles = [@FavStyles];
    var FavMediums = [@FavMediums];
    var FavSubjects = [@FavSubjects];

    $.get("/Value/GetStyles", function (data) {
        $('#styleselect').prop('disabled', false);
        $.each(data, function (key, value) {
            if ($.inArray(value.id, FavStyles) != -1)
                $("#styleselect").append($("<option selected></option>").val(value.id).html(value.name));
            else
                $("#styleselect").append($("<option></option>").val(value.id).html(value.name));
        });
        $.get("/Value/GetMediums", function (data) {
            $('#medumsselect').prop('disabled', false);
            $.each(data, function (key, value) {
                if ($.inArray(value.id, FavMediums) != -1)
                    $("#medumsselect").append($("<option selected></option>").val(value.id).html(value.name));
                else
                    $("#medumsselect").append($("<option></option>").val(value.id).html(value.name));
            });
            $.get("/Value/GetSubjects", function (data) {
                $('#subjectsselect').prop('disabled', false);
                $.each(data, function (key, value) {
                    if ($.inArray(value.id, FavSubjects) != -1)
                        $("#subjectsselect").append($("<option selected></option>").val(value.id).html(value.name));
                    else
                        $("#subjectsselect").append($("<option></option>").val(value.id).html(value.name));
                });
                setTimeout(function () {
                    $('.chosen').chosen({
                        width: '100%'
                    });
                }, 100);
            });
        });
    });
</script>