<div class="sidebar-panel offscreen-left">
    <div class="brand">
        <!-- toggle small sidebar menu -->
        <a href="javascript:;" class="toggle-apps hidden-xs" data-toggle="quick-launch">
            <i class="icon-grid"></i>
        </a>
        <!-- /toggle small sidebar menu -->
        <!-- toggle offscreen menu -->
        <div class="toggle-offscreen">
            <a href="javascript:;" class="visible-xs hamburger-icon" data-toggle="offscreen" data-move="rtl">
                <span></span>
                <span></span>
                <span></span>
            </a>
        </div>
        <!-- /toggle offscreen menu -->
        <!-- logo -->
        <a class="brand-logo">
            <span>پنل مدیریت</span>
        </a>
        <a href="#" class="small-menu-visible brand-logo">R</a>
        <!-- /logo -->
    </div>
    <ul class="quick-launch-apps hide">
        <li>
            <a>
                <span class="app-icon bg-danger text-white">
                    T
                </span>
                <span class="app-title">توسعه</span>
            </a>
        </li>
        <li>
            <a>
                <span class="app-icon bg-success text-white">
                    A
                </span>
                <span class="app-title">آینده</span>
            </a>
        </li>
        <li>
            <a>
                <span class="app-icon bg-primary text-white">
                    M
                </span>
                <span class="app-title">مجازی</span>
            </a>
        </li>
        <li>
            <a>
                <span class="app-icon bg-info text-white">
                    A
                </span>
                <span class="app-title">آرنا</span>
            </a>
        </li>
    </ul>
    <!-- main navigation -->
    <nav role="navigation">
        <ul class="nav">

            <li>
                <a href="/admin/home">
                    <i class="fa fa-dashboard"></i>
                    <span>داشبورد</span>
                </a>
            </li>

            <li>
                <a href="/admin/firstpage">
                    <i class="fa fa-desktop"></i>
                    <span>صفحه اصلی</span>
                </a>
            </li>
            <li>
                <a href="/admin/Posts">
                    <i class="fa fa-archive"></i>
                    <span>پست ها</span>
                </a>
            </li>
            <li>
                <a href="/admin/Categories">
                    <i class="fa fa-paperclip"></i>
                    <span>دسته بندی ها</span>
                </a>
            </li>
            <li>
                <a href="/admin/SubCategories">
                    <i class="fa fa-paperclip"></i>
                    <span>زیر دسته بندی ها</span>
                </a>
            </li>
            <li>
                <a href="/admin/Tags">
                    <i class="fa fa-tag"></i>
                    <span>برچسب ها</span>
                </a>
            </li>
            <li>
                <a href="/admin/Users">
                    <i class="fa fa-users"></i>
                    <span> کاربران</span>
                </a>
            </li>

            <li>

            <li>
                <a href="#">
                    <i class="fa fa-user-secret"></i>
                    <span> لاگ *</span>
                </a>
            </li>

            <li>
                <a href="#">
                    <i class="fa fa-info"></i>
                    <span> راهنما *</span>
                </a>
            </li>
        </ul>
    </nav>
    <!-- /main navigation -->
</div>