@model IEnumerable<Language>

@{
    ViewBag.Title = "Index";
}

@Styles.Render("~/Content/Admin/vendor/jquery-labelauty/source/jquery-labelauty.css")

<div class="page-title">
    <div class="title"> پارامترها</div>
    <ol class="breadcrumb no-bg pl0">
        <li>
            <a href="javascript:;">پنل سازمان</a>
        </li>
        <li>
            <a href="javascript:;">زبان و کشور ها </a>
        </li>
    </ol>
</div>

<ul class="nav nav-tabs">
    <li class="active">
        <a href="/languages">زبان ها</a>
    </li>
    @if (User.IsInRole("Superadmin") || User.IsInRole("Administrator"))
    {
        <li>
            <a href="/Countries/Index">کشور ها</a>
        </li>

        <li>
            <a href="/PriceList/Index">محدوده قیمت</a>
        </li>
    }
    <li>
        <a href="/PrintOptions/Index">پرینت</a>
    </li>
    <li>
        <a href="/ProductFrames/Indexcolor"> فریم</a>
    </li>
    @if (User.IsInRole("Superadmin") || User.IsInRole("Administrator"))
    {
        <li>
            <a href="/Setting/Index"> پارامتر ها</a>
        </li>
    }
</ul>


<div class="card bg-white m-b">
    <div class="card-header"> Languages </div>
    <div class="card-block p-a-0">
        <div class="table-responsive">
            @if (Model.Count() != 0)
            {
                <table class="table m-b-0">
                    <tr>
                        <th></th>
                        <th>
                            Idon
                        </th>
                    </tr>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <th><i class="fa fa-book"></i></th>
                            <td><img width="20" src='~/Content/Images/@(item.Code + ".svg")' />  @item.Name   <span>&nbsp;</span></td>
                        </tr>
                    }
                </table>
            }
            else
            {
                <div class="alert alert-warning ">
                    هیچ زبانی ثبت نشده
                </div>
            }
        </div>
    </div>
</div>