@model List<Product>
@if (Model.Count > 0)
{

    <div class="row recently-sold">
        <div class="small-12 medium-10 columns">
            <h2 class="section-title">Recently Sold Artwork</h2>
            <div class="section-details">See what's selling to collectors all over the world.</div>
        </div>
        <div class="small-12 medium-2 columns">
            @*<a href="recently-sold.html" class="link-see-more">See More</a>*@
        </div>
    </div>
    <div class="row recently-sold">

        <p class="alert alert-info"> </p>
        <ul class="item-list">

            @foreach (var item in Model)
            {
                <li class="art-item-small">
                    <div class="list-art-image">
                        <a href="art/Painting-Acid-Rhymes-24/80714/3449272/view.html">
                            <img src="~/Content/Images/300x300.jpg">
                        </a>
                        <div class="right sold">sold</div>
                    </div>
                    <div class="list-art-meta">
                        <h5 class="list-art-title ellipsis" itemprop="name">
                            <a href="art/view.html" itemprop="url">
                                <span itemprop="name">Acid Rhymes 24</span>
                            </a>
                        </h5>
                        <h5 class="Agency-name ellipsis">
                            <a href="bzar.html">
                                <span itemprop="name">Martin Wagstaff</span>
                            </a>
                        </h5>
                        <div class="list-art-price">
                            <div>
                                <div itemprop="price">$310</div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </li>
            }

        </ul>
    </div>

}